html, body {
  padding:0;
  margin:0;
  background: #dedada;
  background: -webkit-linear-gradient(-90deg, #dedada, grey);
}
header{
 height: 500px;
 background-color:#d729b1;
 margin: 0 auto;
}

.kiklos {
  width: 200px;
  height: 200px;
  background-color:#010860;
  border-radius:100%;
  margin:0 auto;
  position: relative;
  top: 350px;
  animation-name: rotate;
  animation-duration: 15s;
  animation-timing-function:ease;
}

/*@keyframes rotate {
  0%  {left:0; transform:rotate(0);}
  20% {left:44.7%; transform:rotate(180deg);}
  60% {left:-44.7%; transform:rotate(-180deg);}
  100% {left:0; transform:rotate(0);}
}*/

article {
  width:10px;
  height:10px;
  background-color:#ff728b;
  border-radius:100%;
  margin:0 auto;
  position: relative;
  top: 5px;
}
